/*SASS para áreasdepráctica.html*/ /*Por las caracteristicas del Html se especifica diseño de áreasdepráctica.html*/

/* SASS de áreasdepráctica.html*/

    /*Header áreasdepráctica.html con GRID*/

.contenedortotal {
    .cajatextoareas {
        grid-column: 1/4;
        grid-area: main;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column nowrap;
        background: $colorsecundario;
        width: 100%;

        h2 {
            margin: 25px auto;
        }

        .content {
            display: flex;
            flex-flow: row wrap;
            padding: 15px 15px;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .practica-card {
                display: flex;
                align-items: center;
                padding: 15px 0px;
                justify-content: center;
                flex-flow: column nowrap;
                width: 30%;

                &__img {
                    padding: 10px 0px;
                }

                &__p {
                    text-align: justify;
                }
            }
        }


    }


    /*Footer general con GRID*/

}

/*Media queries*/

@media screen and (max-width: 768px) { 
    .contenedortotal {
        .cajatextoareas {
            .content {
                flex-flow: row wrap;

                .practica-card {
                    width: 45%;
                }
            }
        }
    }    
}

@media screen and (max-width: 320px) { 
    .contenedortotal {
        .cajatextoareas {
            .content {
                flex-flow: column nowrap;

                .practica-card {
                    width: 95%;
                }
            }
        }
    }    
}