* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Archivo Narrow', sans-serif; color: $colorletra;
}

/* SASS general de HTML*/

    /*Header general con GRID*/

.contenedortotal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.7fr 0.6fr 0.3fr;
    grid-template-areas:
        "header header header"
        "carrusel carrusel carrusel"
        "main main main"
        "footer footer footer";
    height: 100vh;

    /*Header*/

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;
        grid-column: 1/4;
        background: $colorprincipal;
        padding: 20px 15px;
        width: 100%;

        .logo-header {
            width: 12%;
            display: flex;
            grid-area: logo;

            .logo-header-img {
                width: 100%;
                border-radius: 10% 30% 50% 70%;
            }
        }

        .tituloprincipal {
            grid-area: titulo;
            font-size: 38px;
            letter-spacing: 1px;
            text-align: center;
            width: 25%;
        }

        .nav {
            width: 50%;

            .menu {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-flow: row nowrap;
                width: 100%;

                li {
                    text-align: center;
                    list-style: none;
                    
                    a {
                        font-weight: bold;
                        text-decoration: none;
                        color: $colorletra;
                        font-size: 22px;
                        letter-spacing: 1px;
                        
                        &:hover {
                            color: rgb(10, 176, 218);
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    /*Carrusel*/

    .galeria {
        grid-area: carrusel;
        display: flex;
        width: 100%;
        height: 480px;
        
        img {
            flex-grow: 1;
            width: 0px;
            object-fit: cover;
            opacity: .8;
            transition: ease .5s;

            &:hover {
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
    }


    /*Caja de texto principal con GRID*/

    .cajatexto {
        grid-column: 1/4;
        grid-area: main;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column nowrap;
        background: $colorsecundario;
        width: 100%;

        h2 {
            margin: 25px auto;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-flow: row wrap;
            padding: 35px 0;
            width: 100%;

            .section {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: row nowrap;
                text-align: justify;
                width: 30%;

                &__map {
                    width: 95%;
                }
            }
        }


    }


    /*Footer general con GRID*/

    .footer {
        background-color: $colorterciario;
        grid-area: footer;
        padding: 20px 15px;
        background-size: contain;
        display: flex;
        justify-content: space-between;
        grid-template-areas: 
        "footeriz footercen footerder";

        .footer-left {
            .logo-footer {
                height: 100px;
                width: 145px;
                border-radius: 10% 30% 50% 70%;
                margin-right: 30px;
                margin-top: 10px;
                margin-left: 10px;
                grid-area: footeriz;
            }
        }
        .footer-center {
            h4 {
                font-size: 24px;
                font-weight: bold;
                color: $colorletrasecundario;
                grid-area: footercen;
            }
        } 
        .footer-right {
            display: block;
            text-align: right;
            grid-area: footerder;
    
                a {
                    font-weight: normal;
                    color: $colorletrasecundario;
                    padding: 0px 10px;
                    text-decoration: none;
                    font-size: 21px;
                }
        }
    }
}

/*Media queries*/

@media screen and (max-width: 768px) {
    .contenedortotal {

        .header {
            .tituloprincipal {
                font-size: 16px;
                letter-spacing: 1px;
            }

            .nav {
                width: 70%;
                .menu {
                    li {
                        a {
                            font-size: 14px;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) { 
    .contenedortotal {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0fr 1.5fr 0.5fr;
        grid-template-areas:
            "header"
            "carrusel"
            "main"
            "footer";
        height: 100vh;

        .header {
            grid-column: 1/2;
            flex-flow: column nowrap;
            justify-content: space-between;

            .logo-header {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 55%;
            }

            .tituloprincipal {
                width: 100%;
                text-align: center;
            }

            .nav {
                width: 100%;

                .menu {
                    align-items: center;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }

        .galeria {
            height: 45vh;
            width: 100%;

            img {
                &:hover {
                    width: 200px;
                }
            }
        }

        .cajatexto {
            grid-column: 1/2;
            flex-flow: column nowrap;
            justify-content: space-between;
    
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            
                .section {
                    flex-flow: column wrap;
                    text-align: justify;
                    justify-content: space-between;
                    padding: 15px 0;
                    width: 80%;
    
                    &__map {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }    

    .footer {
        grid-template-columns: 1fr;
        padding: 10px 5px;
        .footer-right {
            flex-direction: column;
            text-align: center;
        }
    }

    /*Elementos que en pantalla pequeña no son presentables pero en laptop si*/

    .logo-footer{
        display: none;
    }
    .footer-center {
        display: none;
    }
}