/*SASS para nuestroequipo.html*/

.cajatexto {
    .content {
        .abogado-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: justify;
            flex-flow: column wrap;
            width: 45%;

            &__img {
                border-radius: 50% 20% / 10% 40%;
            }
        }
    }
}

/* Responsive nuestroequipo.html*/

@media screen and (min-width: 320px) and (max-width: 425px)  { 
    .contenedortotal { 
        .cajatexto {
            grid-column: 1/2;
            flex-flow: column nowrap;
            justify-content: space-between;

            .content{
                .abogado-card{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 0;
                    width: 80%;
                }
                
                &__p {
                    justify-content: space-between;
                    width: 100%;
                    margin-top: 12px;
                }
            }
        }
    }
}